src/main/webapp/WEB-INF/classes/MQService.template.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.publiccommons.ne.jp/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MQService"
  targetNamespace="http://soap.publiccommons.ne.jp/">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
      targetNamespace="http://soap.publiccommons.ne.jp/" version="1.0">
      <xs:element name="processResponse" type="tns:processResponse"/>
      <xs:element name="publish" type="tns:publish"/>
      <xs:element name="publishResponse" type="tns:publishResponse"/>
      <xs:complexType name="publish">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:anyType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="publishResponse">
        <xs:sequence>
          <xs:element minOccurs="0" ref="tns:processResponse"/>
        </xs:sequence>

      </xs:complexType>
      <xs:complexType name="processResponse">
        <xs:sequence>
          <xs:element name="code" type="xs:int"/>
          <xs:element minOccurs="0" name="result" type="xs:anyType"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="publishResponse">
    <wsdl:part element="tns:publishResponse" name="parameters"> </wsdl:part>
  </wsdl:message>

  <wsdl:message name="publish">
    <wsdl:part element="tns:publish" name="parameters"> </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MQService">
    <wsdl:operation name="publish">
      <wsdl:input message="tns:publish" name="publish"> </wsdl:input>
      <wsdl:output message="tns:publishResponse" name="publishResponse"> </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MQServiceSoapBinding" type="tns:MQService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="publish">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="publish">
        <soap:body use="literal"/>

      </wsdl:input>
      <wsdl:output name="publishResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MQService">
<!--    <wsdl:port binding="tns:MQServiceSoapBinding" name="endpoint">
      <soap:address
        location="http://localhost:8192/commons/subscriber/soap/internal/registry-provisioning/"/>
    </wsdl:port> -->
  </wsdl:service>
</wsdl:definitions>
